@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

/* common style end */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
}

.container {
    width: 83%;
    max-width: 1320px;
    margin: 0 auto;
}

.per-sec {
    margin-bottom: 120px;
}

/* banner */

.banner {
    margin-top: 50px;
}

.banner-container {
    background-image: url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 16px;
    color: #FFF;
    font-family: 'Merriweather', serif;
}

.banner-text {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    padding: 177px 250px;
}

.banner-text h3 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-text h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* offer */

.offer-text {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.offer-text h1 {
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-text h4 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-text h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

.offer-img {
    max-width: 800px;
    margin: 48px auto 0;
}

/* party */

.party-container {
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
}

.vactor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.party-text {
    font-family: 'Inter', sans-serif;
    width: 700px;
    padding: 126px 0 142px;
}

.party-text h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    font-family: 'Merriweather', serif;
    margin-bottom: 24px;
}

.party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.party-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border: none;
    text-transform: uppercase;
    background: none;
    margin-left: 32px;
}

/* date-time */

.date-time-text {
    text-align: center;
    padding: 100px 0px 110px;
    width: 550px;
    margin: 0 auto;
}

.date-time-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    font-family: 'Inter', sans-serif;
}


.date-time-text h1 {
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.date-time-text span {
    color: #F00;
}

.date-time-text button {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 48px;
}

/* best-offer */

.best-offer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer-info {
    max-width: 393px;
}

.year {
    max-width: 276px;
    margin-top: 100px;
}

.common-h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
}

.offer-info h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin-bottom: 22px;
}

.offer-info-p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Inter', sans-serif;
}

.year h2 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
}

.h-n-y{
    margin-top: 43px;
}

.happy-people img{
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 40px;
}


